In [1]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
df_meta = pd.read_csv("C:/Users/cresc/PycharmProjects/POSCO-Academy-A3_/proj_bigdata/data/cleaned/movie_meta_cleaned_ver3.csv", engine= "python", encoding='utf-8')
df_download = pd.read_csv("C:/Users/cresc/PycharmProjects/POSCO-Academy-A3_/proj_bigdata/data/cleaned/movie_download_cleaned.csv", engine= "python", encoding='utf-8')

In [5]:
df_download.columns

Index(['customer_id', 'item_id', 'down_year', 'down_date', 'weekday',
       'inf_year', 'down_price'],
      dtype='object')

In [6]:
df_meta.columns

Index(['movie_id', 'title', 'release_year', 'runtime', 'mpa_rating',
       'imdb_score', 'dvd_sales', 'blu_sales', 'total_sales', 'legs', 'share',
       'inf_income_usa', 'theater_opening', 'theater_total', 'series', 'src',
       'creative_type', 'director', 'actor', 'writer', 'description', 'synop',
       'contract_price', 'studio_score', 'price_class', 'awards', 'poster',
       'metascore', 'release_dvd', 'big_awards_num', 'awards_win_num',
       'awards_nomin_num', 'reviews_users', 'reviews_critics', 'prd_mthd',
       'prd_company', 'release_date', 'genre', 'country', 'language', 'budget',
       'series_new', 'kwrds', 'actor_1', 'actor_2', 'actor_3', 'actor_4',
       'income_opening', 'votes', 'income_usa', 'income_int', 'income_ww',
       'item_id', 'inv_exist', 'contract_year', 'inf', 'genre_action',
       'genre_adventure', 'genre_drama', 'genre_sci-fi', 'genre_fantasy',
       'genre_thriller', 'genre_animation', 'genre_family', 'genre_musical',
       'genre_comedy', 'genre_romance', 'genre_mystery', 'genre_war',
       'genre_western', 'genre_history', 'genre_sport', 'genre_horror',
       'genre_crime', 'genre_music', 'genre_biography', 'genre_documentary',
       'genre_short', 'genre_game-show', 'genre_adult', 'genre_news',
       'genre_fiction', 'genre_film-noir', 'genre_reality-tv', 'country_1',
       'country_2', 'country_3', 'dvd_over_income', 'movie_down_sales',
       'contract_price_inf', 'net_profit'],
      dtype='object')

In [93]:
df_inventory = df_meta[df_meta['inv_exist']==1]
df_inventory = df_inventory.reset_index().drop('index', axis=1)
df_inventory

,movie_id,title,release_year,runtime,mpa_rating,imdb_score,dvd_sales,blu_sales,total_sales,legs,...,genre_fiction,genre_film-noir,genre_reality-tv,country_1,country_2,country_3,dvd_over_income,movie_down_sales,contract_price_inf,net_profit
0,tt2395427,Avengers: Age of Ultron,2015,141.0,PG-13,7.3,33569045.0,55802159.0,89371204.0,2.399765810946388,...,0.0,0.0,0.0,USA,.,.,0.07313423932087944,1042.2553871899931,755.7743092899998,286.48107789999335
1,tt4154756,Avengers: Infinity War,2018,156.0,PG-13,8.5,23700665.0,77736363.0,101437028.0,2.6341492753171645,...,0.0,0.0,0.0,USA,.,.,0.034914738435503155,161.0,1000.0,-839.0
2,tt0449088,Pirates of the Caribbean: At World's End,2007,167.0,PG-13,7.1,314040375.0,7640482.0,321680857.0,2.696878059826299,...,0.0,0.0,0.0,USA,.,.,1.0149309794271015,1019.2433991229697,767.8666982386397,251.37670088432992
3,tt0974015,Justice League,2017,121.0,PG-13,6.4,19449630.0,40475432.0,59925062.0,2.440524623458739,...,0.0,0.0,0.0,USA,Canada,UK,0.08492387237781913,375.42999999999705,745.3299999999999,-369.9000000000029
4,tt2379713,Spectre,2015,148.0,PG-13,6.8,12917812.0,24092452.0,37010264.0,2.8418356378041505,...,0.0,0.0,0.0,UK,USA,Austria,0.064565114413192,472.1095652749993,755.7743092899998,-283.6647440150005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,tt4846340,Hidden Figures,2016,126.0,PG,7.8,18636040.0,11544851.0,30180891.0,329.0157439684656,...,0.0,0.0,0.0,USA,.,.,0.10987759034197629,590.6478119999944,1034.2729999999997,-443.6251880000053
102,tt6644200,A Quiet Place,2018,95.0,PG-13,7.5,6628735.0,10373895.0,17002630.0,3.7452394513361424,...,0.0,0.0,0.0,USA,.,.,0.035254660432006465,159.0,920.0,-761.0
103,tt5052448,Get Out,2017,104.0,R,7.7,7363633.0,6449455.0,13813088.0,5.274301121788438,...,0.0,0.0,0.0,USA,Japan,.,0.04182915918887264,579.141599999995,939.3199999999999,-360.1784000000049
104,tt0121766,Star Wars: Episode III - Revenge of the Sith,2005,139.0,PG-13,7.5,.,.,.,3.506871653257155,...,0.0,0.0,0.0,USA,.,.,.,868.3820114523724,967.7224142185597,-99.34040276618737
105,tt0363771,"The Chronicles of Narnia: The Lion, the Witch ...",2005,140.0,PG,6.9,448094082.0,.,448094082.0,4.449776811727908,...,0.0,0.0,0.0,USA,UK,.,1.5360893077458178,816.9674968416422,767.8666982386397,49.10079860300243

In [61]:
grouped_df = df_download.groupby(['customer_id'])['item_id']

df_item = []
df_key = []
for key, item in grouped_df:
    df_item.append(list(grouped_df.get_group(key)))
    df_key.append(key)
    
# Items 중 index 0번이 갖고 있으면 True, 아니면 False
enc = TransactionEncoder()
df_asso_enc = enc.fit_transform(X = df_item)
# DataFrame으로 변환
df_asso = pd.DataFrame(df_asso_enc, columns = enc.columns_, index=df_key)
df_asso.head(10)

,I-1001,I-1002,I-1003,I-1004,I-1005,I-1006,I-1007,I-1008,I-1009,I-1010,...,I-1097,I-1098,I-1099,I-1100,I-1101,I-1102,I-1103,I-1104,I-1105,I-1106
C5001,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
C5002,False,False,True,False,True,True,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
C5003,True,True,True,True,True,True,True,False,True,False,...,False,False,True,False,False,True,False,False,False,False
C5004,True,True,True,True,True,True,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
C5005,True,True,True,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
C5006,False,True,False,True,True,True,True,True,False,True,...,False,False,False,False,False,False,False,False,False,False
C5007,True,True,True,False,True,True,False,True,True,True,...,False,False,False,True,False,False,False,False,False,False
C5008,True,True,True,False,False,False,True,True,True,True,...,False,False,False,False,False,True,False,False,False,False
C5009,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
C5010,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [96]:
# 지지도 계산
df_freq = apriori(df_asso, min_support=0.1, use_colnames=True)
df_freq.round(3)

      support                                  itemsets
0       0.345                                  (I-1001)
1       0.358                                  (I-1002)
2       0.324                                  (I-1003)
3       0.146                                  (I-1004)
4       0.280                                  (I-1005)
...       ...                                       ...
5458    0.103  (I-1013, I-1045, I-1042, I-1043, I-1044)
5459    0.102  (I-1045, I-1042, I-1016, I-1041, I-1044)
5460    0.104  (I-1045, I-1016, I-1043, I-1041, I-1044)
5461    0.105  (I-1045, I-1042, I-1016, I-1043, I-1044)
5462    0.111  (I-1045, I-1042, I-1043, I-1041, I-1044)

[5463 rows x 2 columns]

In [90]:
# 기준 = 신뢰도, 최소신뢰도 = 0.5
df_asso_rule = association_rules(df_freq, metric='confidence', min_threshold=0.5)
df_asso_rule.round(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(I-1001),(I-1002),0.345,0.358,0.173,0.502,1.403,0.050,1.289
1,(I-1001),(I-1008),0.345,0.422,0.182,0.528,1.252,0.037,1.225
2,(I-1001),(I-1009),0.345,0.397,0.176,0.511,1.289,0.040,1.234
3,(I-1001),(I-1010),0.345,0.408,0.177,0.512,1.254,0.036,1.213
4,(I-1001),(I-1012),0.345,0.421,0.183,0.529,1.256,0.037,1.229
...,...,...,...,...,...,...,...,...,...
13979,"(I-1041, I-1045, I-1044)","(I-1042, I-1043)",0.188,0.253,0.111,0.589,2.331,0.063,1.819
13980,"(I-1041, I-1042, I-1043)","(I-1045, I-1044)",0.164,0.276,0.111,0.679,2.461,0.066,2.253
13981,"(I-1042, I-1043, I-1044)","(I-1041, I-1045)",0.178,0.251,0.111,0.623,2.479,0.066,1.986
13982,"(I-1041, I-1042, I-1044)","(I-1045, I-1043)",0.169,0.260,0.111,0.655,2.516,0.067,2.145
13983,"(I-1041, I-1044, I-1043)","(I-1042, I-1045)",0.179,0.265,0.111,0.622,2.345,0.064,1.942

In [1]:
df_asso_rule['consequents']

NameError: name 'df_asso_rule' is not defined

In [110]:
df_meta[df_meta['item_id']=='I-1044']

,movie_id,title,release_year,runtime,mpa_rating,imdb_score,dvd_sales,blu_sales,total_sales,legs,...,genre_fiction,genre_film-noir,genre_reality-tv,country_1,country_2,country_3,dvd_over_income,movie_down_sales,contract_price_inf,net_profit
16,tt2310332,The Hobbit: The Battle of the Five Armies,2014,144.0,PG-13,7.4,29485612.0,48209740.0,77695352.0,4.661907589409859,...,0.0,0.0,0.0,New Zealand,USA,.,0.11557555856858896,1172.6060738468027,967.7224142185597,204.88365962824298

1204